body
{
    background-color: #45a29e;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;

}

html {
    position: relative;
    min-height: 100%;
  }

.main-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-container
{
    margin-top: 250px;
    background-color: #0b0c10;
    /* box-shadow: 8px 7px 2px 0px #303c6c; */
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
    width: auto;
    height: auto;
    border-radius: 3% / 2%;
}

.screen-container
{
    background-color: #171d25;
    border: none;
    height: auto;
    width: auto;

    margin: 10px 10px;
    border-radius: 1% / 5%;

}

.screen-text
{
    text-align: end;
    position: relative;
    font-size: 80px;
    bottom: 0px;
    margin: 0px 5px;
    color: #c5c6c7;
}

.buttons-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 10px 10px;
}

button
{
    height: 100px;
    width: 100px;

    background-color: #1f2833;            /*66a5ad*/
    color: #c5c6c7;

    border: none;
    border-radius: 25%;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.5);

    margin: 5px;

    transition: transform .2s;

    font-size: 30px;
    text-align: center;
}

button:hover
{
    background-color: #59ccc4;
    color: #ececec;
    transform: scale(1.05);
    
    transition: transform .1s;
}

button:active
{
    transform: scale(0.9);            
    background-color: #1f2833;
}

.footer-container
{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.footer-text
{
    font-size: 20px;
    color: #0b0c10;
    text-align: center;
}