body
{
    background-color: #fbe8a6;
    font-family: 'Roboto', sans-serif;
}

.main-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-container
{
    margin-top: 250px;
    background-color: #d2fdff;
    box-shadow: 8px 7px 2px 0px #303c6c;
    width: auto;
    height: auto;
    border-radius: 1%;
}

.screen-container
{
    background-color: #303c6c;
    border: 2px solid #303c6c;
    height: auto;
    width: auto;

    margin: 10px 10px;
    border-radius: 1% / 5%;

}

.operation-text
{
    text-align: end;
    position: relative;
    font-size: 30px;
    bottom: 0px;
    margin: 0px 5px;
}

.screen-text
{
    text-align: end;
    position: relative;
    font-size: 80px;
    bottom: 0px;
    margin: 0px 5px;
    color: #d2fdff;
}

.buttons-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 10px 10px;
}

button
{
    height: 100px;
    width: 100px;

    background-color: #b4dfe5;              /*66a5ad*/
    color: #303c6c;

    border: none;
    border-radius: 50%;
    box-shadow: 4px 3px 2px 0px #303c6c;

    margin: 5px;

    transition: transform .2s;

    font-size: 30px;
    text-align: center;
}

button:hover
{
    background-color: #a7bdc2;
    transform: scale(1.05);
    
    transition: transform .1s;
}

button:active
{
    transform: scale(0.95);            
    background-color: #889a9e;
}